* {
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

header .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 18rem;

    & .btn {
        width: 10rem;
        height: auto;
        border: 1px solid black;
        font-size: 1.2rem;
        text-transform: capitalize;
        padding: 0.5rem 1rem;
        text-align: center;
        background-color: rgb(91, 67, 170);
        
    
        & a {
            text-decoration: none;
            color: white;
        }
    }
}

.container {
    padding: 0 4rem 4rem 4rem;
}

.grid .header-content {
    display: flex;
    gap: 2rem;
    font-size: 4rem;
    text-align: center;
    align-items: center; 


    & .navbar ul {
        display: flex;
        gap: 1rem;
        text-transform: capitalize;
        list-style-type: none;
        font-size: 1.1rem;
    }
}


main .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 6.4rem;
    & .btn {
        border: 1px solid black;
        font-size: 1.2rem;
        text-transform: capitalize;
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: rgb(91, 67, 170);
        margin-top: 1rem;
    
        & a {
            text-decoration: none;
            color: white;
        }
    }
}

.grid .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    & .heading {
        font-size: 1.7rem;
        line-height: 1.3;
        & span{
            color: rgb(91, 67, 170);
        }
    }
    & .para {
        font-size: 1rem;
        padding: 1rem 0;
        & span{
            text-transform: uppercase;
        }
    }
}

& .img-section {
    & img {
        width: 100%;
    }
}
